// https://stackoverflow.com/a/68071088
// see http://mcg.mbitson.com

$light-theme-primary-palette: (
  50 : #fcfcfc,
  100 : #f7f7f7,
  200 : #f2f2f2,
  300 : #ededed,
  400 : #e9e9e9,
  500 : #e5e5e5,
  600 : #e2e2e2,
  700 : #dedede,
  800 : #dadada,
  900 : #d3d3d3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$dark-theme-primary-palette: (
  50 : #e3e3e6,
  100 : #b9b9bf,
  200 : #8b8b95,
  300 : #5c5c6b,
  400 : #39394b,
  500 : #16162b,
  600 : #131326,
  700 : #101020,
  800 : #0c0c1a,
  900 : #060610,
  A100 : #5353ff,
  A200 : #2020ff,
  A400 : #0000ec,
  A700 : #0000d3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent-palette: (
  50 : #e6f0fd,
  100 : #c1d9fa,
  200 : #97c0f6,
  300 : #6da6f2,
  400 : #4e93f0,
  500 : #2f80ed,
  600 : #2a78eb,
  700 : #236de8,
  800 : #1d63e5,
  900 : #1250e0,
  A100 : #ffffff,
  A200 : #dbe5ff,
  A400 : #a8bfff,
  A700 : #8facff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
