@import "theming";

$base-color: #E5E5E5;
$dark-base-color: #C4C4C4;
$main-font-color: #4F4F4F;
$light-font-color: #828282;
$accent-color: #2f80ed;

$base-font-size: 12px;
$little-font-size: 10px;
$header-font-size: 20px;

$box-shadow: 3px 0px 9px 1px rgba(47,128,237,.5);

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
